/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

/* Reset básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Fontes globais */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/* Botão padrão do app */
.btn-primary {
  --background: #3880ff;
  --color: white;
  --border-radius: 12px;
  text-transform: none;
  font-weight: bold;
}

/* Texto secundário */
.text-muted {
  color: #777;
  font-size: 0.85rem;
}

:root{
  --fundo-azul-claro: #dbe6f3;
  --fundo-principal: #f5f5f5;
  --fundo-azul-escuro: #3A4570;
  --cor-texto-azul-escuro: #003366;
  --cor-texto-secundario: #3A3A3A;
  --botao-cinza: #dcdcdc;
  --link-azul: #3a98a5;

  --titulo-font-size: 1.2rem;
  --input-padding: 12px;
}