ion-content {
  --background: #f5f5f5;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
  text-align: center;
  padding: 10px;
}

.alert-text {
  color: #3A3A3A;
  padding: 8px;
  font-size: 0.85rem;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
}

ion-title {
  color: #ffffff;
  font-weight: bold;
  background-color: #374EA2;
  font-size: 1.5rem;
  text-align: left;
  padding-left: 5px;
}

.alert-title {
  font-weight: bold;
  color: #ff0000;
}

h2 {
  color: #374EA2;
  font-weight: bold;
  margin-top: 120px;
}

ion-item {
  --background: #dbe6f3;
  --color: #000;
   --border-color: transparent;
  width: 100%;
  max-width: 300px;
  background: #f0f0f0;
  border-radius: 6px;
}

ion-input {
  --color: #202020;
}

ion-button {
  --background: #D9D9D9;
  --color: #374EA2;
  width: 100%;
  max-width: 300px;
  background-color: #D9D9D9;
  color: #374EA2;
  font-weight: bold;
  border-radius: 6px;
  text-transform: none;
}

a {
  color: #0033cc;
  font-size: 0.85rem;
  text-decoration: none;
}

.login-links,
.register-text,
.footer-text {
  font-size: 0.85rem;
  margin-top: 10px;
  color: #3A3A3A;
  margin-top: 50px;
}

.register-text a {
  color: #374EA2;
  font-weight: bold;
}